<html>
    <head>
        <title>
            쿠키런 킹덤
        </title>
    </head>

    <body>
        <img src="/static/img/invitation/rinvitation.png" style="display: block; margin: 0 auto; width:100%; height:auto; max-width: 95%;">
        
        <a href="https://kingdom.oopy.io/aa1b805e-75b9-42d1-a9ee-486ab9eb3cf9"><img src="/static/img/invitation/button/answer.png" style="display: block; margin: 0 auto; width:100%; height:auto; max-width: 60%;"></a>
        <a href="https://kingdom.oopy.io/"><img src="/static/img/invitation/button/attend.png" style="display: block; margin: 0 auto; width:100%; height:auto; max-width: 60%;"></a>
    </body>

</html>