<html>
    <head>
        <title>pointer</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div>
            <div id="timer">
                <div class="days">
                    <div id="days" class="numbers"></div>
                    <div>포인트를 모았어요!</div>
                </div>
            </div>

            <!-- <div>
                다음 컨텐츠
            </div> -->
        </div>
    </body>


    <script>
        let timer = setInterval(function() {
        let days = 66700;

        document.getElementById("days").innerHTML=days
        }, 1);
    </script>


</html>